html {
  background-color: #c9b5ab;
  line-height: 1.4;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.9;
}

nav li {
  list-style-type: none;
  font-weight: bold;
}

a, nav li {
  color: #af2440;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

main {
  font-family: "PT Serif", sans-serif;
  font-weight: normal;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

blockquote {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.p-1 {
  font-size: 1.125rem;
  font-weight: bold;
}

cite {
  font-size: .8rem;
}

main > ol li {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
  line-height: 1.2;
}

.dl-2 dt {
  font-weight: bold;
  line-height: 1.2;
}
